.card {
    border-radius: 1rem;
    background-color: $grey;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;

    .card-img{
        height: 250px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover; object-position: bottom;';
        }
    }

    .card-description {
        padding: 1rem;
    }

    .card-controllers {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background: transparentize($grey, 0.4);
        padding: 0.75rem;

        .favorite{
            svg{
                height: 1.5rem;

                path{
                    fill: $black;
                }
            }
        }
        button{
            border: 0;
            background-color: transparent;
        }
        .delete{
            span{
                font-size: 2.125rem;
                color: $black;
            }
        }
    }
}